.callyou {
   background: #f4f4f4;
   width: 415px;
    border-radius: 15px;
    border-right: solid 2px #e5e5e5;
    border-bottom: solid 2px #e5e5e5;
   margin: 25px auto;
   font-family: nunito!important;
   color: #666;
  text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
   position: relative;
    text-align: left;
  padding: 35px 35px 15px;
  overflow: hidden;
  }

.callyou:before {
  content: '';
background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(var(--main), 0.25) 2px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--alt), 0.25) 2px, transparent 1px);
     height: 600px;
      width: 90px;
  position: absolute;
  top: -35px;
  left: 0px;
}

.callyou span {
    content: '';
    background: rgba(var(--alt), .75);
    line-height: 30px;
    padding: 10px;
   border-radius: 0px 0px 12px 12px;
    position: absolute;
  height: 110px;
    top: 0px;
    left: 15px;
}

.callyou span:before {
    color: #F4F4F4;
    display: inline-block;
     font-size: 60px;
    line-height: 100%;
    opacity: 0.95;
         text-shadow: 1px 1px rgba(var(--alt)), 1px -1px rgba(var(--alt)), -1px 1px rgba(var(--alt)), -1px -1px rgba(var(--alt));
}

.cy-date {
     color: #f4f4f4;
           text-shadow: 1px 1px rgba(var(--alt)), 1px -1px rgba(var(--alt)), -1px 1px rgba(var(--alt)), -1px -1px rgba(var(--alt));
    font-family: nunito;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
  top: 96px;
  left: 30px;
  line-height: 16px;
    letter-spacing: 1px;
}

.cy-body {
  position: relative;
 width: 300px;
  padding: 40px 55px 5px;
  margin-bottom: 20px;
  margin-left: 50px;
font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #666666;
text-align: left;
text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
}

.cy-body b{
    color: rgba(var(--main), 0.8);
    font-weight: 900;
}

.cy-body u {
font-weight: 700;
    position: relative;
    text-decoration: none;
    background: linear-gradient(to left, rgba(var(--main), 0.5) 0%, rgba(var(--alt), 0.75) 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    padding-bottom:  0px;
    background-repeat: repeat-x;
}

.cy-body i {
  opacity: 0.8;
    font-weight: 700;
}

.cy-en {
      padding: 5px 85px 45px;
  width: 380px;
    position: relative;
    bottom: -35px;
    left: -35px;
    font-size: 12px;
}

.cy-en a {
    color: rgba(var(--alt), 0.9);
   font-weight: 900;
  font-size: 13px;
}
