


.downhill-container {
  position: relative;
margin: 50px auto;
padding: 0px 0px 0px 0px;
width: 460px;
min-height: 380px;
background: #f7f7f7;
border-radius:30px;
border-right: solid 2px #e5e5e5;
}
.dh-top
{
  width: 100%;
  height: 100px;
  border-radius: 30px 30px 0px 0px;
  background: rgba(var(--accent));
background: radial-gradient(circle, rgba(var(--main)) 20%, rgba(var(--accent)) 100%, rgba(var(--alt)) 100%);
border-bottom: 2px solid #e5e5e5;}

.dh-bottom
{width: 457px;
height: 20px;
  background:rgba(var(--main));
  bottom: 2px;
  border-radius: 0px 0px 30px 30px;
  border: solid 2px #e5e5e5;
  border-left: solid 0px;
}
.dh-circle
{position: absolute;
  padding: 20px;
  top: 20px;
  left: 165px;
height: 80px;
width: 80px;
background-color:#f7f7f7;
border-radius: 90px;
border: 2px solid #e5e5e5;
filter: drop-shadow(1px 1px 5px #969696);
font-size: 34px;}

.dh-icon
{position: absolute;
  font-size: 60px;
  top: 35px;
padding: 9px;
color: rgba(var(--alt));
filter: drop-shadow(1px 1px 1px #969696);}

.dh-body
{padding-top: 80px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
line-height: 24px;
text-align: justify;
 color: #4c4c4c;
}

.dh-body b
{color: rgba(var(--main));
font-weight: 900;}

.dh-body i {
    opacity: 0.75;
    font-weight: 700;
}

.dh-body u {
  font-weight: 700;
    position: relative;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(var(--main), 0.6) 0%, rgba(var(--accent), 0.75) 100%);
    background-position: 0 100%;
    background-size: 100% 2.5px;
    padding-bottom: 0px;
    background-repeat: repeat-x;
}


.dh-tag
{  padding: 10px;
  font-family: "Quicksand", sans-serif;}
.dh-tag a
{text-decoration: none;
padding: 5px;
font-weight: 700;
color: rgba(var(--alt))}
.dh-notes
{ padding-bottom: 30px;
  text-align: right;
  padding-right: 20px;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
 color: #353535;}


.dh-circle path {
  fill: transparent;
}

.dh-circle text {
  fill: #353535;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: #4c4c4c;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
