@font-face {
    font-family: 'Kinda';
    src: url('https://files.jcink.net/uploads2/clowncityx/Kinda_Regular.ttf');
     }
@font-face {
    font-family: 'Cherri';
    src: url('https://files.jcink.net/uploads2/honeycauldron/Cherri_Regular.otf');
     }



.monarch ::-webkit-scrollbar {
background:transparent;
border:0px;
height:1px;
width:0px; }
.monarch ::-webkit-scrollbar-thumb {
background:transparent;
border:0px; }

.monarch {
background: #f4f4f4;
border:1px solid #ddd;
box-shadow: 2px 2px #E5E5E5;
color:#666;
font-family:nunito;
font-size:15px;
font-weight:400;
      width: 600px;
    height: 550px;
line-height:25px;
margin:25px auto;
overflow:hidden;
position:relative;
text-align:left;
text-shadow: -1px 0 #fff9, 0 1px #fff9, 1px 0 #fff9,  0 -1px #fff9; 
  border-radius: 15px;
}

.monarch-cont {
overflow:hidden;
padding:25px;
position:absolute;
  top:0px; bottom:0px;
  left:0px; right:0px;
z-index:1;
}

.monarch-left {
   background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(var(--main), 0.18) 2px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--alt), 0.18) 2px, transparent 1px);
    height: 600px;
      width: 145px;
}

.monarch-img {
background-position:center;
background-repeat:no-repeat;
   border-radius: 100px 100px 3px 3px;
height:400px; 
 width:220px;
overflow:hidden;
position:relative;
  bottom: -30px;
      outline: 2px solid white;
  outline-offset: -5px;
}

.monarch-rgt {
position: absolute;
    right: 0px;
    top: 60px;
    width: 365px;
    height: 350px;
    border-radius: 15px 15px 0px;
    overflow: auto;
   background: #F8F8F8;
}

.monarch-name {
background-image:linear-gradient(to bottom right, 
  rgba(var(--main)),
  rgb(var(--alt)));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
background-size:100%;
font-size:36px;
font-weight:900;
padding: 5px 0px 10px;
text-shadow:none;
  position: relative;
  font-family: 'Kinda';
}

.monarch-tarot {
  color: rgba(var(--alt),0.7);
    font-family: nunito;
    font-size: 18px;
    display: block;
    text-shadow: -1px 0 #fff9, 0 1px #fff9, 1px 0 #fff9, 0 -1px #fff9;
  position: relative;
  top: -16px;
  left: 45px;
   text-transform: uppercase;
  font-weight: 900;
 font-style: normal;
    z-index: 2;
    font-family: 'Kinda';
}

.monarch-limit {
    font: 32px 'Cherri';
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(var(--alt), 0.9);
    text-align: left;
    position: absolute;
    right: -130px;
    top: 45px;
    z-index: 2;
    width: 250px;
  letter-spacing: -2px;
}

.monarch-tl {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding-left: 25px;
    padding-right: 10px;
    z-index: 4;
}

  .monarch-season { 
font: 38px 'Kinda', serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    top: 0px;
    padding: 20px 20px 0px 15px;
    text-align: left;
 background-image: -webkit-linear-gradient(left, rgba(var(--main)), rgba(var(--alt)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    line-height: 0px !important;
    margin-top: 5px;
   height: 25px;
  } 

 /*seasons*/  
   #summer::before { 
	content:'\a71'; 
	font-family:'starry'; 
     font-size: 32px;
    } 
    
   #fall::before { 
	content:'\a44'; 
	font-family:'starry'; 
     font-size: 32px;
       font-weight: 300;
    } 
    
     #winter::before { 
   	content:'\a73'; 
	font-family:'starry'; 
        font-size: 32px;
         font-weight: 300;
    } 
    
   #spring::before { 
    	content:'\a52'; 
	font-family:'starry'; 
   font-size: 32px;
       font-weight: 300;
    } 
    
    #past::before { 
    	content:'\a20'; 
	font-family:'starry'; 
font-size: 32px;
      font-weight: 300;
    } 

.monarch-month {
display: block;
    width: 100%;
    text-align: left;
}

.monarch-month h1 {
  background: rgba(var(--alt), 0.6);
    color: #f6f6f6;
  width: 25%;
    text-shadow: none;
    font-weight: 900;
    font-family: 'Kinda';
    text-transform: uppercase;
    padding: 2px 8px 4px;
   clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    font-size: 18px;
    text-shadow: -1px 0 rgba(var(--alt)), 0 1px rgba(var(--alt)), 1px 0 rgba(var(--alt)), 0 -1px rgba(var(--alt));
}

.topic {
    background: #E2E2E2;
    border-radius: 10px;
    padding: 20px;
    font-size: 10px;
    line-height: 12px;
    display: block;
    position: relative;
    flex-grow: 2;
    margin-bottom: 0px;
    border-left: none;
}

.topic a {
    font-family: 'Kinda';
      text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    display: block;
    background: -webkit-linear-gradient(left, rgba(var(--main), 1), rgba(var(--alt), 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.topic.fin {
filter: grayscale(1);
}

.topic span {
    display: inline-block;
    position: relative;
    top: 3.5px;
    font-weight: 700;
}

.topic span:before {
  content: '#';
    color: rgba(var(--alt));
   font-family: 'Kinda';
    margin-right: 1px;
  margin-left: 2px;
    position: relative;
    display: inline-block;
    font-size: 10px;
    font-weight: 900;
    }

.monarch-ships {
  position: absolute;
  background-color: #E2E2E2;
  width: 345px;
  height: 130px; 
  bottom: 0px;
  left: 255px;
  clip-path: polygon(0 0, 95% 0%, 320% 100%, 0% 100%);
  border-radius: 10px 0px;
  z-index: 5;
}

.ship-blurb {
 width: 320px;
  height: 125px; 
    position: absolute;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
padding-left: 10px;
  padding-top: 2px;
}

.ship {
    flex: 1 0 auto;
    background: #f4f4f4;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    font-weight: 600;
    line-height: 100%;
    margin: 3px;
    padding: 1px;
    position: relative;
    text-transform: uppercase;
}

.ship div {
color: rgba(var(--alt), 0.8);
    border-right: 1px solid #e0e0e0;
    font-size: 14px;
    margin: 2px 10px 4px 0px;
    padding: 5px;
    padding-left: 5px;
}

.ship.npc span {
    color: #5554!important;
}

.m-star1 {
  font-size: 50px;
    color: #F4F4F4;
    text-shadow: -1px 0 rgba(var(--main), 0.7), 0 1px rgba(var(--main), 0.7), 1px 0 rgba(var(--alt), 0.7), 0 -1px rgba(var(--alt), 0.7);
    position: absolute;
    left: 15px;
    top: 140px;
    z-index: 5;
}

.m-star2 {
  font-size: 50px;
    color: #F4F4F4;
    text-shadow: -1px 0 rgba(var(--main), 0.7), 0 1px rgba(var(--main), 0.7), 1px 0 rgba(var(--alt), 0.7), 0 -1px rgba(var(--alt), 0.7);
    position: absolute;
    left: 210px;
   bottom: 120px;
    z-index: 20;
}

.m-persona {
  position: absolute;
  left: 175px;
  top: 80px;
  font-size: 45px;
  color: rgba(244, 244, 244, .9);
  text-shadow: none;
background: rgb(34,193,195);
background: linear-gradient(339deg, rgba(var(--main), 0.7) 0%, rgba(var(--alt), 0.7) 100%);;
  border-radius: 100%;
  padding: 15px;
}

.monarch-gif {
      height: 120px;
    width: 300px;
    background-color: #aaa;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 76%);
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
}

.monarch-gif overlay {
  background-image: linear-gradient(to bottom right, rgba(var(--main), 0.7) 25%, rgba(var(--alt), 0.7));
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
