#alder {
 --main: 75, 91, 128;
--alt: 146, 178, 188;
}
 
 #alder .romcom-name:before {
content:'\a3';
}

#angel {
--main: 145, 130, 155;
--alt: 204, 170, 170;
}
 
 #angel .romcom-name:before {
content:'\e905';
}

#dante {
--main: 154, 49, 49;
--alt: 114, 118, 147;
}
 
 #dante .romcom-name:before {
content:'\e909';
}

#faust {
--main: 78, 124, 101;
--alt: 43, 33, 58;
}
 
 #faust .romcom-name:before {
content:'\a112';
}


#jules {
--main: 205,147,126;
--alt: 68,69,98;
}
 
 #jules .romcom-name:before {
content:'\a47';
}


#juno {
--alt: 242, 124, 124;
--main: 53, 57, 78;
}
 
 #juno .romcom-name:before {
content:'\a11';
}

#kazimir {
--main: 116, 74, 137;
--alt: 224, 180, 105;
}
 
 #kazimir .romcom-name:before {
content:'\a17';
}

#klaus {
--main: 72,43,66;
--alt: 224,174,173;
}
 
 #klaus .romcom-name:before {
content:'\a37';
}

#lysander {
--main: 165, 116, 109;
--alt: 133, 160, 152;
}
 
 #lysander .romcom-name:before {
content:'\a42';
}

#samson {
--main: 66, 45, 114;
--alt: 34, 176, 201;
}
 
 #samson .romcom-name:before {
content:'\a22';
}

/* MAX COLORS */

#alexei {
--main: 103, 142, 173; 
--alt: 91, 83, 80; 
}
 
 #alexei .romcom-name:before {
content:'\a43';
}


#catrin {
--main: 150,171,184;
    --alt: 187,170,184;
}
 
 #catrin .romcom-name:before {
content:'\a38';
}

#dahlia {
--main: 168, 67, 91;
    --alt: 117, 99, 127;
}
 
 #dahlia .romcom-name:before {
content:'\a91';
}

#ezio {
--main: 166, 58, 58;
    --alt: 84, 101, 129;
}
 
 #ezio .romcom-name:before {
content:'\a28';
}

#jasper {
--main: 71, 63, 88;
    --alt: 98, 107, 118;
}
 
 #jasper .romcom-name:before {
content:'\a92';
}


#magpie {
--main: 153, 145, 186;
    --alt: 209, 175, 201;
}
 
 #magpie .romcom-name:before {
content:'\a3';
}

#mikhail {
--main: 159,126,90;
    --alt: 52, 51, 49;
}
 
 #mikhail .romcom-name:before {
content:'\a93';
}

#oliver {
    --main: 153, 100, 92;
    --alt: 144, 151, 123;
}
 
 #oliver .romcom-name:before {
content:'\a12';
}

#riley {
    --alt: 199, 113, 95;
    --main: 217, 176, 110;
}
 
 #riley .romcom-name:before {
content:'\e904';
}

#rosie {
--main: 212, 159, 169;
    --alt: 194, 166, 192;
}
 
 #rosie .romcom-name:before {
content:'\a46';
}
